* {
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}

body {
    background-color: #8b7f27
}

#greetingInput {
    text-align: center;
}

#intro {
    text-align: center;
    color: beige;
}

#quizEl {
    display: none;
    text-align: center;
    color: beige;
}

#endScoreEl {
    display:none; 
    text-align: center;
    color: beige;
}

.highScoreEl {
    color: beige;
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 1.2em;
}

a {
    color: beige;
}

/* highscore style */

#hsTitleEl {
    color: beige;
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 2em;
}

li {
    color: beige;
}
/* #id {
    display: flex;
    justify-content: end;

} */