* {
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}

body {
    background-color: #8b7f27
}

#greetingInput {
    text-align: center;
}

#intro {
    text-align: center;
    color: beige;
}

#quiz {
    text-align: center;
    color: beige;
}

/* #id {
    display: flex;
    justify-content: end;

} */